.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222426;
}

.error__title {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 3em;
}

.error__img {
  margin-top: 5em;
  height: auto;
  border-radius: 10px;
}

.error__img:hover {
  transform: scale(1.03);
}