html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #222426;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.body__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  justify-content: center;
  padding-top: 5em;
  width: 85vw;
  max-width: 1300px;
}

.main__subtitle {
  font-size: clamp(1em, 3vh, 2em);
  letter-spacing: 2px;
}

.main__body {
  color: #ffffff;
  padding-right: 2em;
  width: 100%;
}

.main__title {
  font-size: clamp(2em, 20vh, 4em);
  text-transform: capitalize;
  width: 50%;
}

.main__title span:after {
  content: '\A';
  white-space: pre;
}

.main__header {
  font-size: clamp(1em, 4vh, 3em);
  text-transform: capitalize;
}

.main__explanation {
  font-size: clamp(0.5em, 3vh, 1.3em)
}

.main__urls {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  white-space: pre-line;
  padding-top: 10px;
}

.main__easter-egg {
  text-align: end;
}

.main__image {
  width: auto;
  object-fit: cover;
}

.footer {
  margin-top: 4em;
  height: 3em;
  background-color: #4E5051; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.footer__git {
  text-decoration: none;
  color: #ffffff;
}

@media(min-width: 850px) {
  .main {
    flex-direction: row;
  }

  .main__body {
    width: 50%;
  }

  .main__urls {
    white-space: pre;
  }
}